doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Quiz App
    body 
        h1 Welcome to the Quiz App 
        p Select an option below to get started 

        div.actions
            a.button(href="/api/vi/questions") Start Quiz 
            a.button(href="/about") About 

        footer 
            p 2025 Quiz App